.pokeImg {
  max-width: 240px;
}
.infoImg {
  max-width: 500px;
  margin: auto
}
.navbar-brand {
  font-size: 25px;
  margin-right: 20px
}
.nav-link {
  font-size: 16px;
   margin-top: 5px 
}
@media (max-width: 565px) {
  .pokeImg {
      max-width: 350px;
  }
}

@media (min-width: 565px) and (max-width: 992px)  {
 .navbar-nav{
   -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

 }
 .navbar-nav .nav-link{
  padding-right: 25px;
 }
 
}